table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 0 5%;
}
